---
import CursorEffect from "../components/CursorEffect.astro";
import Footer from "../components/Footer.astro";
---

<head>
  <title>Cool Tools</title>
  <meta name="description" content="List of tools that I created for personal use" />
  <meta property="og:image" content="/og-carousel.png" />
</head>

    <main class="w-full flex flex-col ">
      <slot />
    </main>
    <Footer />
    